<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Dictionary" connectionString="server=localhost;user id=root;password=;persistsecurityinfo=True;port=3306;database=wn_pro_mysql" providerName="MySql.Data.MySqlClient" />
		<add name="Password" connectionString="boysdkdatbxebaor" />
		<add name="Email" connectionString="verifyPBL3@gmail.com" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>